# Name of workflow
name: PHP CI

# Trigger the workflow on push or pull request
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  # build – произвольно выбранное имя задания
  # их может быть больше одного
  build:
    # The type of machine to run the job on
    runs-on: ubuntu-latest

    steps: # список шагов, которые надо выполнить
      # экшен — выполняет какую-то задачу
      # checkout — клонирует репозиторий
      # Check-out repository under GitHub workspace
      # https://github.com/actions/checkout
      - uses: actions/checkout@v3
        # Step's name
      - name: Setup PHP
          # Action gives to setup the PHP environment to test application
        # https://github.com/shivammathur/setup-php
        uses: shivammathur/setup-php@v2
        with:
          # Specify the PHP version
          php-version: '8.2'
      # Install project
      - name: Setup project
        run: make setup
      # Run linter
      - name: Run linter
        run: make lint

      - name: Execute tests (Unit and Feature tests) via PHPUnit
        run: make test-coverage

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
